/* PAGE */
.contact-page {
  background: #f9fafb;
}

/* HERO */
.contact-hero {
  position: relative;
  height: 580px;
  overflow: hidden;
}

.contact-banner {
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 45px;
  z-index: 2;

}

.hero-overlay h1 {
  color: rgb(111, 83, 83);
  ;
  font-size: 42px;
  font-weight: 700;
  text-shadow: 0 4px 15px rgba(0, 0, 0, .35);
}

/* LEFT TEXT */
.contact-info p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #666;
}

/* INFO BOX */
.info-box {
  display: flex;
  gap: 12px;
  align-items: center;
  background: #fff;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 12px;
  border: 1px solid #eee;
  transition: 0.3s;
}

.info-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.info-box i {
  font-size: 20px;
  color: #8e6a8f;
  /* 👈 purple */
}

.info-box p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* FORM */
.contact-form {
  background: #fff;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.1);
}

/* INPUT */
.input-field,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.input-field:focus,
.contact-form textarea:focus {
  border-color: #8e6a8f;
  box-shadow: 0 0 12px rgba(142, 106, 143, 0.2);
}

/* BUTTON */
.submit-btn {
  background: #c7827b;
  color: #fff;
  border-radius: 50px;
  padding: 14px;
  font-weight: 500;
  border: none;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #c7827b;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* MAP */
.map-section {
  padding: 40px 0;
}

.map-section iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

@media(max-width:768px) {

  .map-section {
    padding: 25px 15px;
  }

  .map-section iframe {
    height: 280px;
    border-radius: 16px;
  }

}

/* SECTION SPACING */
section {
  padding: 80px 0;
}


@media (max-width:768px) {

  .hero-overlay {
    padding-bottom: 15px;
  }

  .hero-overlay h1 {
    font-size: 24px;
    text-align: center;
    padding: 0 15px;
  }

}

@media (max-width:768px) {

  .contact-hero {
    position: relative;
    height: 180px;
    overflow: hidden;
  }

  .contact-banner {
    object-fit: contain;
    background: #fff;
  }

  .hero-overlay {
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }

  .hero-overlay h1 {
    font-size: 16px;
    line-height: 1.3;
    text-align: flex-end;
    color: white;
    padding-top: 105px;
  }

  section {
    padding: 40px 0;
  }

  .contact-form {
    padding: 20px;
  }

  .info-box {
    padding: 12px;
  }

  .map-section iframe {
    height: 280px;
  }

}